@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: #000000;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, #nav-links {
  font-family: var(--font-playfair-display), serif;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('/arrow-down.svg');
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  padding-right: 2rem; /* space for arrow */
}

@keyframes slide {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slide {
  animation: slide 0.35s ease-out;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade {
  animation: fade 0.75s ease-out;
}
